

// ---------------------------------------------------------------------------
// flipIn [ x | y | all ]

@mixin animate-flipIn(
  $sub        : all,
  $properties : null,
  $class      : $default-animation-class-mode,
  $keyframes  : $default-keyframes-output
) {
  $sub  : compact($sub);
  $x    : yepnope($sub, all x);
  $y    : yepnope($sub, all y);
  @if $x  { @include animate-flipInX  ($properties, $class, $keyframes); }
  @if $y  { @include animate-flipInY  ($properties, $class, $keyframes); }
}

// ---------------------------------------------------------------------------
// flipInX

@mixin animate-flipInX(
  $properties : null,
  $class      : $default-animation-class-mode,
  $keyframes  : $default-keyframes-output
) {
  $name: flipInX;
  $keyframes: if($class == nested, false, $keyframes);
@if $keyframes {
    @include keyframes($name) {
      0% {
        @include transform(perspective(400px) rotateX(90deg));
        @include opacity(0);
      }
      40% {
        @include transform(perspective(400px) rotateX(-10deg));
      }
      70% {
        @include transform(perspective(400px) rotateX(10deg));
      }
      100% {
        @include transform(perspective(400px) rotateX(0deg));
        @include opacity(1);
      }
    }
  }
  @include flip-class($name, $properties, $class);
}

// ---------------------------------------------------------------------------
// flipInY

@mixin animate-flipInY(
  $properties : null,
  $class      : $default-animation-class-mode,
  $keyframes  : $default-keyframes-output
) {
  $name: flipInY;
  $keyframes: if($class == nested, false, $keyframes);
@if $keyframes {
    @include keyframes($name) {
      0% {
        @include transform(perspective(400px) rotateY(90deg));
        @include opacity(0);
      }
      40% {
        @include transform(perspective(400px) rotateY(-10deg));
      }
      70% {
        @include transform(perspective(400px) rotateY(10deg));
      }
      100% {
        @include transform(perspective(400px) rotateY(0deg));
        @include opacity(1);
      }
    }
  }
  @include flip-class($name, $properties, $class);
}
